$yellow: #fffa19;

@mixin margenes($top, $bottom){
	margin-top:$top;
	margin-bottom:$bottom;

}

.jumbotron{
	background-color: $yellow;
	color: black;
	@include margenes(50px, 0px);
}


}

footer{
	padding: 10px 10px 0 10px;
	background-color: #B8FF33;
	@include margenes(10px, 0px);
}

.card-hotel{
	flex: 1 200px;
	@include margenes(10px, 0px);


}

.btn-reserva{
	width: 100%;
	border-radius: 0px;
}

.footer-address-icon{
	padding-right: 10px;
}

.tap-content
{
	padding-bottom: 10px;
}
